{{!-- <ul>
  <li><a href="/">Home page</a></li>
  <li><a href="/about">About us</a></li>
  <li><a href="/products">Product</a></li>
</ul> --}}
<header class="header">
  <div class="header__menu">

    <button class="header__menu-button"><i class="material-icons md-light">menu</i></button>

    <span class="logo">LOGO</span>
  </div>

  <ul class="header__icons">
    <li><a class="header__icon" href=""><i class="material-icons md-light">search</i></a></li>
    <li><a class="header__icon" href=""><i class="material-icons md-light">person_outline</i></a></li>
    <li><a class="header__icon" href=""><i class="material-icons md-light">favorite_border</i></a></li>
    <li><a class="header__icon" href=""><i class="material-icons md-light">local_mall</i></a></li>
  </ul>
</header>