<section class="hero">

  <img src="/img/header.jpg" alt="">

  <div class="hero__block">
    <h1 class="hero__font">Butterfly</h1>

    <button class="hero__button ">
      Новая колекция
    </button>

  </div>
</section>